<div class="social">
  <div class="uk-grid uk-grid-small">
    <div class="uk-width-1-6"><a id="email" class="icon" href="mailto:kuzmychev@gmail.com" title="Email" uk-tooltip></a></div> 
    <div class="uk-width-1-6"><a id="telegram" class="icon" href="https://t.me/johnnykramer" title="Telegram" uk-tooltip target="_blank"></a></div>
    <div class="uk-width-1-6"><a id="github" class="icon" href="https://github.com/johnnykramer" title="Github" uk-tooltip target="_blank"></a></div>
    <div class="uk-width-1-6"><a id="linkedin" class="icon" href="https://www.linkedin.com/in/johnnykramer/" title="LinkedIn" uk-tooltip target="_blank"></a></div>
    <div class="uk-width-1-6"><a id="vk" class="icon" href="https://vk.com/fear_me" title="VK" uk-tooltip target="_blank"></a></div>
    <div class="uk-width-1-6"><a id="facebook" class="icon" href="https://www.facebook.com/kuzmychev" title="Facebook" uk-tooltip target="_blank"></a></div>
  </div>
</div>