<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    {{> styles}}
  </head>
  <body>
    <div id="header">
      {{> header}}
    </div>
    <div id="main">
      {{{body}}}
    </div>
    <div id="footer">
      {{> footer}}
    </div>
    {{> scripts}}
  </body>
</html>
