<div id="placeholder">
  <h1>{{title}}</h1>
  <p>Website poka ne gotov.</p>
  <p>tg <a href="https://t.me/johnnykramer">@johnnykramer</a></p>
</div>

<style>
  body {
    background: #2b303b;
  }
  #placeholder {
    font-family: "Courier New", Courier, monospace;
    color: #B2B6BD;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
  }
  #placeholder a {
    color: #739a99;;
  }
  #placeholder a:hover {
    color: #a3be8c;
  }
</style>